<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">

    <head>
        {{- partial "head.html" . -}}
    </head>

    <style>
        /*  Override Grid.css Layout */
        .page {
            grid-template-areas: 
              "header"
              "body" 
              "cards"
              "footer";
        }
        
        @media (min-width: 52rem) {
            .page {
                grid-template-areas: 
                "header header" 
                "body body"
                "cards cards"
                "footer footer";
            }
        }
    </style>

    <body>
        <div class="page">
            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- partial "partials/featured.html" (dict "page" . "IsSingle" true) }}
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__cards">
                {{ $postTypes := slice "Project" }}
                {{ $tags := slice "" }}
                {{- partial "cards.html" (dict "Context" . "PagesToDisplay" .Pages "FilterPagesByPostType" $postTypes "FilterPagesWithTags" $tags "DisplayInColumns" true) -}}
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
