{{- $taxo := "tags" -}}
{{- with $.page.Param $taxo }}
    <div class="entry__tags">
        {{- range $tag := . }}
            {{- $url := urls.Parse (. | urlize) -}}
            {{- $path := $url.Path -}}
            {{- with $.page.Site.GetPage (printf "/%s/%s" $taxo $path) }}
                <a class="entry__tag btn" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- end }}
        {{- end }}
    </div>
{{- end }}

{{- if $.IsSingle }}
    <div class="entry__tags">
        {{- with $generalTags := $.page.Page.Params.infoTags.general }}
            {{- range $tag := $generalTags }}
                <a class="general__tag entry__tag static__btn"> {{ $tag }} </a>
            {{- end }}
        {{- end }}
    </div>

    <div class="entry__tags">
        {{- with $gameTags := $.page.Page.Params.infoTags.game }}
            {{- range $tag := $gameTags }}
                <a class="game__tag entry__tag static__btn"> {{ $tag }} </a>
            {{- end }}
        {{- end }}
    </div>
{{- end }}